@import "tailwindcss";

:root {
  --background: #F1F5F9;
  --primary: #1653FF;
  --secondary: #1A4FF0;
  --neutral: #E5E7EB;
  --font-inter: "Inter", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-neutral: var(--neutral);
}

body {
  background: var(--background);
  font-family: var(--font-inter);
}
